/* .sword::after {
  content: '';
  width: 80vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url('./../../../assets/star-wars-sword-jedi-light-saber-wallpaper-preview.jpeg');
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-3px) scale(1);
  z-index: 6;
} */

.sword {
    margin: 0 auto;
    height: 10vh;
    width: 40%;
    background-image: url('./../../../assets/star-wars-sword-jedi-light-saber-wallpaper-preview.jpeg');
    /* background-size: cover; */
    background-size: 300px 100px, cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(106, 40, 40);


    
}