.movie_item {
  height: 100vh;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 400px 2fr minmax(300px, 380px);
}

.crawl {
  perspective: 75rem;
  overflow: hidden;
}

.crawl p {
  padding: 0 40px;
  font-family: "Bebas Neue";
  text-align: justify;
  line-height: 150%;
  font-size: 1.6rem;
  font-style: italic;
  color: #feda4a;
  letter-spacing: normal;
  transform: rotateX(50deg);
  overflow: hidden;
}
.list {
  margin-top: 100px;
  color: #feda4a;
  font-size: 1rem;
}
.list span {
  font-weight: 400;
  line-height: 2rem;
  color: #feda4a;
  text-transform: uppercase;
}

.content div {
  line-height: 2rem;
}
.content div span {
  font-style: italic;
  color: rgb(165, 215, 220);
}

.content h1 {
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px auto;
  padding-top: 20px;
  border-top-width: 4px;
  border-top-style: solid;
  border-image: linear-gradient(to right, #feda4a, #2a3642) 1;
}

.stat_item {
  display: inline-block;
  margin: 10px;
  
  /* cursor: pointer; */
}
.count {
  color: rgb(165, 215, 220);
}

.stat_item p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.stat_item {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.stat_item_title {
  margin-bottom: 20px;
}

.stat_item_to_all {
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}